<?xml version="1.0" encoding="utf-8" ?> 
<menu>
	<link id="dateConvert">
		<title>ממיר תאריכים</title> 
		<url>dateconvert.html</url>
	</link>
	<link id="moladCalculate">
		<title>מחשבון מולדות</title> 
		<url>moladcalculate.html</url>
	</link>
	<link id="contactMe">
		<title>צור קשר</title> 
		<url>contactme.html</url>
	</link>
</menu>
